@page
@model WebApplication6.Pages.TeamModel
@{
    ViewData["Title"] = "Team";
}

<h1 class="display-4 text-center text-index">@ViewData["Title"]</h1>
<div class="container">
    <img src="~/img/Teamfoto.jpg" class="img-fluid rounded" />
    <p><b>Bovenste rij v.l.n.r: </b>Tessa van de Krol, Pieter Loof, Sjoerd Mansschot, Arnaut de Rijk, Jos van Aalderen, Gawein Lautenslager en Martijn Bergkamp</p>
    <p><b>Onderste rij v.l.n.r: </b>Peggy Kemperman, Raymond Verhoef, Alex van der Meijs, Bart Ziengs en Azad Imamoglu</p>
    <p>Op de foto ontbreken: Piet de Jong, Eric van Beek, Patricia van Luijk, Felicie van Vree, Lodewijk Evers en Peter de Bruijn</p>

    <h2 class="display-4 text-center text-index">Uitgelichte Atleten</h2>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
        @{var i = 0; }
        @foreach (var teamMember in Model.TeamMembers)
        {
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo1">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href=@($"#Teamlid{i}")
                       aria-expanded="false" aria-controls="collapseTwo1">
                        <h5 class="mb-0 namen-text">
                            @Html.DisplayFor(item => teamMember.Name) <i class="fas fa-angle-down rotate-icon float-right"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id=@($"Teamlid{i}") class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                    <div class="card-body">
                        <img class="img-thumbnail mx-auto d-block actiefoto" src="@teamMember.ImgSrc" />
                        <p><b>Naam:</b> @Html.DisplayFor(item => teamMember.Name)</p>
                        <p><b>Leeftijd:</b> @Html.DisplayFor(item => teamMember.Age)</p>
                        <p><b>Mijn vrije tijd besteed ik aan:</b> @Html.DisplayFor(item => teamMember.SpareTime)</p>
                        <p><b>Mooiste hardloopervaring: </b> @Html.DisplayFor(item => teamMember.GreatestExperience)</p>
                        <p><b>Motivatie voor de Maaslandloop:  </b> @Html.DisplayFor(item => teamMember.Motivation)</p>
                    </div>
                </div>

            </div>
            i++;
            <!-- Accordion card -->

        }
        <!-- Accordion wrapper -->
    </div>
</div>

